<!DOCTYPE html>
<html class="landingPage">
    <head>
        <!-- <link rel="stylesheet" href="../static/game/landingStyles.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='game/landingStyles.css') }}">
    </head>
    <body>
        <div class="landingColumn">
            <h1>Gaming Title</h1>
            <h4>from teky and bran</h4>
            <span>{{ msg }}</span>
            <input id="nameInput" placeholder="Input username here">
            <button onclick="tryJoin();">Join</button>
        </div>
        <script>
            const inp = document.getElementById("nameInput");

            function tryJoin() {
                document.location = "/game/"+inp.value;
            }
        </script>
    </body>

</html>